<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context
       					   http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc
       					   http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:annotation-config/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!--    <mvc:annotation-driven/>    -->
    <!--  EM DATASOURCE-CONFIG.XML :   <tx:annotation-driven/>     -->



    <!-- Bean for the Restaurant Dao -->
    <bean name="hibernateRestaurantDao" class="com.sap.javaspringtrainingpoc.daos.impls.DefaultRestaurantDao">
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    </bean>
    <alias name="hibernateRestaurantDao" alias="restaurantDao"/>

    <!-- Beans for the restaurant service-->
    <bean name="defaultRestaurantService"
          class="com.sap.javaspringtrainingpoc.services.impls.DefaultRestaurantService"/>
    <alias name="defaultRestaurantService" alias="restaurantService"/>


    <!-- Bean for the User Dao -->
    <bean name="hibernateUserDao" class="com.sap.javaspringtrainingpoc.daos.impls.DefaultUserDao"/>
    <alias name="hibernateUserDao" alias="userDao"/>

    <!-- Bean for the User service-->
    <bean name="defaultUserService" class="com.sap.javaspringtrainingpoc.services.impls.DefaultUserService"/>
    <alias name="defaultUserService" alias="userService"/>



    <!-- Bean for the Security service-->
    <!--
    <bean name="defaultSecurityService"
          class="com.sap.javaspringtrainingpoc.services.impls.DefaultSecurityService"/>
    <alias name="defaultSecurityService" alias="securityService"/>
    -->





    <!-- <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" /> -->
    <!--
    <bean class="com.sap.javaspringtrainingpoc.controllers.UserController">
        <property name="formView" value="CustomerForm" />
        <property name="successView" value="CustomerSuccess" />


        <property name="validator">
            <bean clacom.sap.javaspringtrainingpoc.validators.DefaultUserValidatorator" />
        </property>
    </bean>
    -->
</beans>